body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  position: absolute;
  top: 6rem;
  z-index: 10;
  left: 2.5rem;
}

.search {
  position: absolute;
  top: 7rem;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  z-index: 10;
}

.sideBySide{
  display:flex; 
  flex-direction:row;
  /* background: rgba(107, 109, 107, 0.8); */
  left: 2rem;
  padding: 30px 30px;
}

.unverified{
  color: red
}

.verified{
  color: green
}


.barList{
  padding: 10px
}

.barShow{
  background-image: url("./assets/signwide.png");
  padding-left: 50px;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background-color: yellow;
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
}

.navli {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}